<!DOCTYPE html>
<html>
    <head>
        <script>
            function move(){
                location.href = "/third"
            }
            function popup(){
                alert("test");
            }
        </script>
    </head>
    <body>
        <ul>
            <li><%=id%></li>
            <li><%=password%></li>
        </ul>
        <button onclick="move()">이동</button>
        <button onclick="popup()">popup</button>
        <img src="/img/라이언.jpg">
    </body>
</html>