<!DOCTYPE html>
<html>
    <head>    
        <title>
            page Title
        </title>
        <script>
            function second(){
                location.href = "/second";
            }
            function third(){
                location.href = "/third";
            }
        </script>
    </head>

    <body>
        <h1>
            This is a Heading
        </h1>
        <p>
            This is a paragragh.
        </p>
        <button onclick="second()">second</button>
        <button onclick="third()">third</button>
    </body>
</html>