<!DOCTYPE html>
<html>
    <body>
        <h1>Third Page</h1>
        <form action="/" method="get">
            <input type="submit" value="index">
        </form>
        <form action="/second" method="get">
            <input type="submit" value="second">
        </form>
    </body>
</html>