<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script>
            function signup(){
                location.href = "/signup"
            }
        </script>
    </head>
    <body>
        <form action="/login" method="POST" id="top">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ID</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="id">
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">PASSWORD</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="password">
            </div>
            <input type="submit" value="login" class="btn btn-primary">
        </form>
        <button onclick="signup()" class="btn btn-primary">회원가입</button>
        <!-- <a href="#move">이동</a>
        <p>
            [SAND MONEY] 주식투자에 관심 없는 사람들조차도 '신풍제약'이라는 이름은 한두 번쯤 들어보았을 것이다. 신풍제약은 지난해 자체 개발 제품인 말라리아 치료제가 코로나19의 치료제로 주목받으면서 주가가 순식간에 1,594%나 올랐다가 물량이 빠지면서 주가가 급락했고 이후 등락을 반복하고 있었다. 그런데 신풍제약은 최근 또다시 임상시험 결과가 좋지 않아 주가 타격을 입었다고 한다. 대체 어떤 상황인지 함께 알아보도록 하자.


지난해 주식투자자들 사이에서 크게 화제가 되었던 기업이 있다. 이는 바로 신풍제약인데, 지난해 말라리아 치료제의 백신 임상실험 진행과 관련해서 주가 폭등 및 폭락 사태가 발생하면서 뉴스에도 연일 오르내리고 세간의 관심 대상이 되었다.
  

이 스토리를 보다 자세히 파헤쳐 보자. 신풍제약은 1962년 설립되어 기생충과 말라리아 치료제를 주요 사업 대상으로 하는 전문의약품 위주의 제약회사이다. 주가의 경우 2019년까지 수년간 6,000~8,000원 사이에서 등락을 반복하며 큰 변화가 없었다.

2020년 1월 3일까지만 하더라도 신풍제약 주가는 7,010원에 불과했다. 그런데 작년 초 코로나19의 확산이 심각해지면서, 바이오 테마주로 취급받게 된 신풍제약 주식은 조금씩 거래량이 늘면서 주가가 올라가기 시작했다. 주가는 이내 두 배 세배 이상 뛰어올랐다. 하지만 이것은 시작에 불과했다.


신풍제약 주식이 본격적으로 주목을 받기 시작한 것은 지난해 5월이었다. 2020년 5월 13일 신풍제약의 주 사업분야인 말라리아 치료제 '피라맥스'가 코로나19 치료제로서 임상 2상 시험을 승인받았다는 사실이 전해졌다. 그뿐만 아니라 신풍제약은 임상시험이 진행되고 있던 클로로퀸 관련 주로 함께 묶이면서 주가 상승에 발동이 걸렸다.
  

신풍제약 주가는 2020년 1월 7,000원에서 5월 19,000원까지 오른데 이어 7월 24일 장중 159,500원을 기록했다. 이처럼 주가가 과도하게 오르게 되자 증권거래소에서는 7월 22일 신풍제약을 투자위험종목으로 지정했으며, 7월 23일은 하루 종일 거래가 정지되었다.

거래가 풀린 7월 24일 금요일에도 신풍제약 주가는 10% 이상 상승하면서 최고점을 갈아치우고 있었다. 그런데 이날 주가는 장 마감을 불과 10분 앞둔 시기에 갑자기 폭락해서 시가총액이 3조 원이나 증발해버렸다. 신풍제약 주식은 다음 거래일인 7월 27일 월요일에도 또다시 하한가를 기록했고 계속되는 하락세에 주가는 일주일 만에 69,000원까지 폭락했다. 반 토막보다도 낮은 금액이었다.


하지만 2020년 8월 들어 코로나19의 재확산에 대한 우려가 제기되면서 다시 한번 바이오주는 주목받게 되었다. 또한 신풍제약은 모건스탠리의 MSCI 지수에도 편입되고 런던증권거래소의 글로벌 올캡지수에 편입되면서 9월 25일 장중에는 최고점인 214,000원까지 찍었다. 신풍제약은 순식간에 한국 시가총액 서열 30위권의 기업이 되어버렸다. 이후 다양한 우여곡절을 겪으며 주가 변동을 이어가다가 2020년 12월 30일 신풍제약 종가는 123,000원으로 마무리했다. 연초 대비 1,594% 오른 것이었다.
        </p>
        <p id="move">
            이동 성공
        </p>
        <a href="#top">상단 이동</a> -->
    </body>
</html>