<!DOCTYPE html>
<html>
    <body>
        <p>안녕하세요! <%=name%> 님</p>
        <button onclick="location.href='/board'">게시판</button>
        <button onclick="location.href= '/update'">회원 정보 변경</button>
        <button onclick="location.href='/delete'">회원 탈퇴</button>
        <button onclick="location.href='/logout'">로그아웃</button>
    </body>
</html>