<!DOCTYPE html>
<html>
    <body>
        <form action="/update" method="POST">
            <input type="text" placeholder="ID" name="id" value="<%=id%>" disabled>
            <input type="password" placeholder="Password" name="password" value="<%=password%>">
            <input type="text" placeholder="Name" name="name" value="<%=name%>">
            <input type="submit" value="정보 수정">
        </form>
    </body>
</html>
