<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            function ajax(){
                $.ajax({ 
                    url: "/ajax", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소 
                    data: { name: "moon" }, // HTTP 요청과 함께 서버로 보낼 데이터 
                    method: "GET", // HTTP 요청 메소드(GET, POST 등) 
                    dataType: "json" // 서버에서 보내줄 데이터의 타입 
                }) // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨. 
                .done(function(json) { 
                    $("<h1>").text(json.title).appendTo("body"); 
                    $("<div class='content'>").html(json.html).appendTo("body"); 
                }) // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨. 
                .fail(function(xhr, status, errorThrown) { 
                    $("#text").html("오류가 발생했다.<br>") 
                    .append("오류명: " + errorThrown + "<br>") 
                    .append("상태: " + status); 
                }) 
                .always(function(xhr, status) { 
                    $("#text").html("요청이 완료되었습니다!"); 
                });
            }
            function get(){
                $.get("/ajax_get",
                {
                    name : "moon",
                    phone : "01053869303",
                    division : "kairos-link"
                },
                function(data, status){
                    $("#text").html(data + "<br>" + status);
                })
            }
            function post() {
                $.post("/ajax_post",
                {
                    name : "moon",
                    phone : "01053869303",
                    division : "kairos-link"
                },
                function(data, status){
                    $("#text").html(data + "<br>" + status);
                })
            }
            function getJSON(){
                $.getJSON("/ajax_getJSON",      //접속을 할 url
                {
                    name : "moon",
                    phone : "01053869303",
                    division : "kairos-link" 
                },                              //url에 보내는 데이터(보내는 데이터)
                function(data){                 //url에서 보내주는 데이터 = data(받는 데이터)
                    $("#text").html(data.message);
                })
            }
        </script>
    </head>
    <body>
        <button onclick="ajax()">ajax 구동</button>
        <button onclick="get()">ajax_get 구동</button>
        <button onclick="post()">ajax_post 구동</button>
        <button onclick="getJSON()">ajax_getJSON 구동</button>
        <p id="text"></p>
    </body>
</html>