<!DOCTYPE html>
<html>
    <body>
        <form action="/manager/add_car2" method="POST">
            <input type="text" placeholder="차량번호" name="car_id">
            <input type="text" placeholder="차량 소속" name="car_div">
            <input type="text" placeholder="차량 종류" name="car_type">
            <input type="text" placeholder="차량 연식" name="car_birth">
            <input type="submit" value="차량 추가">
        </form>
    </body>
</html>