<!DOCTYPE html>
<html>
    <head>
        <script>
            function add_car(){
                location.href="/manager/add_car";
            }
            function car_list(){
                location.href="/manager/car_list";
            }
        </script>
    </head>
    <body>
        <button onclick="add_car()">차량 등록</button>
        <button onclick="car_list()">차량 리스트</button>
    </body>
</html>