<!DOCTYPE html>
<html>
    <body>
        <form action="/signup_2" method="POST">
            <input type="text" placeholder="ID" name="post_id">
            <input type="password" placeholder="PASSWORD" name="password">
            <input type="text" placeholder="NAME" name="name">
            <input type="text" placeholder="DIVISION" name="division">
            <input type="number" placeholder="linkcode" name="linkcode">
            <input type="submit" value="signup">
        </form>
    </body>
</html>