<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./include.ejs")%>
</head>

<body>
    <p></p>
    <p></p>


    
    <script>
        $(function(){ //페이지가 시작될때 함수 안에 있는 코드를 실행하여라.
            $('p').html('<b>Jquery</b>')       //p태그에 html소스를 넣어주겠다
            
        });
    </script>
</body>

</html>