<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./include.ejs")%>
    <style>
        p{ background-color: yellow}
    </style>
</head>
<body>
    <p>
        Hello Jquery
    </p>
    <script>
        $("p").append("<i>Hello</i>");
        // $("p").after("<i>Hello</i>"); after를 쓰게되면 p태그 밖에서 생성된다.
    </script>
</body>
</html>